*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../images/gg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.box__list {
  width: 90%;
  padding: 100px 0 !important;
  padding: 0 !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.box__item {
  width: 90px;
  height: 90px;
  border: 1px solid rgb(184, 181, 181);
  background-color: transparent;
  border-radius: 15px;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(250, 244, 223);
  padding: 5px;
}
.box__item:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.transparent {
  border: 1px solid transparent;
  background-color: transparent;
}
.box__img {
  width: 90px;
  height: 90px;
}

.bx-time-five {
  display: block;
  font-size: 40px;
  color: rgb(242, 245, 82);
}
.bxs-star {
  display: block;
  font-size: 40px;
  color: rgb(242, 245, 82);
}

.timer {
  color: #fff;
  font-size: 24px;
  margin: 0 0 0 40px !important;
}
.time .bx {
  color: #fff !important;
  font-size: 27px;
  display: flex;
  align-items: center;
  margin: 0 0 0 10px !important;
}
.star {
  margin: 0 0 0 40px ;
  color: #fff;
  font-size: 24px;
}
.star .bx {
  margin: 0 10px 0 10px;
}
.time {
  background-color: #fff;
  width: 80px;
  height: 40px;
  color: black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer .bx {
  margin: 0 10px 0 10px;
}
.span {
  background-color: #fff;
  width: 80px;
  height: 40px;
  color: black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalBox {
  width: 100%;
  height: 100%;
  background-color: rgba(27, 25, 25, 0.719);
  border-radius: 10px;
  padding: 200px;
  position: absolute;
  top: -100%;
  left: -100%;
  box-shadow: 10px 5px 30px 0 rgba(0,0,0,0.2); 
  display: none;
  transition: all 0.4s ease;
  animation: show-modal 0.4s ease both ;
}
.restart {
  background-color: rgb(243, 179, 106);
  border: none;
  border-radius: 10px;
  color: rgb(236, 117, 101);
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 220px;
  height: 60px;
  position: relative;
  overflow: hidden;
  z-index: 10;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restart .bx {
  font-size: 25px;
  color: rgb(243, 96, 96);
  margin: 0 0 0 10px;
}
.restart::before {
  content: "";
  background-color: rgb(245, 230, 100);
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 60px;
  z-index: -1;
  color: #fff;
}
.restart:hover::before{
  width: 220px;
  transition: all 0.4s ease;
  color: #fff;
}
.restart:hover {
  color: #fff;
  transition: all 0,4s ease;
}
.restart:hover .bx{
  color: #fff;
  transition: all 0,4s ease;
}
.youwin {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(245, 230, 100);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 32px 0;
}
.yscore {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(245, 230, 100);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 32px 0;
}
.score {
  font-size: 30px;
  font-weight: 600;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(245, 230, 100);
  margin: 0 0 0 15px;
}
.show {
  display: block;
}
@keyframes show-modal {

  100% {
    top: 0;
    left: 0;
  }
}


@media screen and (max-width: 1160px) {
  
  .box__list {
    width: 100%;
    padding: 100px 0 !important;
  }
  .box__item {
    width: 90px;
    height:  90px;
    margin: 9px;
  }

}

@media screen and (max-width: 1080px) {
  
  .box__list {
    width: 100%;
    padding: 100px 0 !important;
  }
  .box__item {
    width: 85px !important;
    height:  85px !important;
    margin: 9px;
    padding: 0;
  }

}
@media screen and (max-width: 1030px) {
  
  .box__list {
    width: 100%;
    padding: 100px 0 !important;
  }
  .box__item {
    width: 80px !important;
    height:  80px !important;
    margin: 9px;
    padding: 0;
  }

}
@media screen and (max-width: 980px) {
  
  .box__list {
    width: 100%;
    padding: 100px 0 !important;
  }
  .box__item {
    width: 75px !important;
    height:  75px !important;
    margin: 9px;
    padding: 0;
  }
  .box__img {
    width: 95%;
    height: 95%;
  }

}
@media screen and (max-width: 930px) {
  
  .box__list {
    width: 100%;
    padding: 100px 0 !important;
  }
  .box__item {
    width: 70px !important;
    height:  70px !important;
    margin: 9px;
    padding: 0;
  }
  .box__img {
    width: 90%;
    height: 90%;
  }

}
@media screen and (max-width: 880px) {
  
  .box__list {
    width: 100%;
    padding: 100px 0 !important;
  }
  .box__item {
    width: 65px !important;
    height:  65px !important;
    margin: 9px;
    padding: 0;
  }
  .box__img {
    width: 95%;
    height: 95%;
  }

}
@media screen and (max-width: 830px) {
  
  .box__list {
    width: 100%;
    padding: 100px 0 !important;
  }
  .box__item {
    width: 60px !important;
    height:  60px !important;
    margin: 9px;
    padding: 0;
  }

}
@media screen and (max-width: 780px) {
  
  .box__list {
    width: 100%;
    padding: 100px 0 !important;
  }
  .box__item {
    width: 55px !important;
    height:  55px !important;
    margin: 9px;
    padding: 0;
  }

}
@media screen and (max-width: 730px) {
  
  .box__list {
    width: 100%;
    padding: 100px 0 !important;
  }
  .box__item {
    width: 60px !important;
    height:  60px !important;
    margin: 5px;
    padding: 0;
  }
  .box__img {
    width: 95%;
    height: 95%;
  }
}
@media screen and (max-width: 700px) {
  
  .box__list {
    width: 100%;
    padding: 100px 0 !important;
  }
  .box__item {
    width: 55px !important;
    height:  55px !important;
    margin: 5px;
    padding: 0;
  }
}
@media screen and (max-width: 650px) {
  

  .youwin {
    font-size: 25px;
  }
  .yscore {
    font-size: 25px;
  }
  .score {
    font-size: 25px;
  }


  .box__item {
    width: 50px !important;
    height:  50px !important;
    margin: 5px;
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  .modalBox {
    padding: 200px 100px;
  }
  .youwin {
    font-size: 25px;
  }
  .yscore {
    font-size: 23px;
  }
  .score {
    font-size: 23px;
  }

  .box__item {
    width: 50px !important;
    height:  50px !important;
    margin: 3px;
    padding: 0;
  }
}
@media screen and (max-width: 560px) {
  .youwin {
    font-size: 25px;
  }
  .yscore {
    font-size: 23px;
  }
  .score {
    font-size: 23px;
  }
  .box__item {
    width: 45px !important;
    height:  45px !important;
    margin: 3px;
    padding: 0;
  }
}
@media screen and (max-width: 510px) {
  
  .box__item {
    width: 42px !important;
    height:  42px !important;
    margin: 3px;
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  
  .box__item {
    width: 40px !important;
    height:  40px !important;
    margin: 3px;
    padding: 0;
  }
}
@media screen and (max-width: 460px) {
  
  .box__item {
    width: 37px !important;
    height:  37px !important;
    margin: 3px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 430px) {
  
  .box__item {
    width: 34px !important;
    height:  34px !important;
    margin: 3px;
    padding: 0;
    border-radius: 10px;
  }
}
@media screen and (max-width: 400px) {
  
  .box__item {
    width: 32px !important;
    height:  32px !important;
    margin: 3px;
  }
}
@media screen and (max-width: 380px) {
  .modalBox {
    padding: 150px 50px;
  }
  .youwin {
    font-size: 25px;
  }
  .yscore {
    font-size: 23px;
  }
  .score {
    font-size: 23px;
  }
  .box__item {
    width: 30px !important;
    height:  30px !important;
    margin: 3px;
  }
}
@media screen and (max-width: 360px) {
  .modalBox {
    padding: 150px 30px;
  }
  .youwin {
    font-size: 25px;
  }
  
  .box__item {
    width: 29px !important;
    height:  29px !important;
    margin: 3px;
  }
}
@media screen and (max-width: 350px) {
  .box__list {
    margin: 0 auto;
  }
  .box__item {
    width: 27px !important;
    height:  27px !important;
    margin: 3px;
  }
}
@media screen and (max-width: 330px) {
  .box__list {
    margin: 0 auto;
  }
  .box__item {
    width: 25px !important;
    height:  25px !important;
    margin: 3px;
  }
}
@media screen and (max-width: 310px) {
  .box__list {
    margin: 0 auto;
  }
  .box__item {
    width: 23px !important;
    height:  23px !important;
    margin: 3px;
    padding: 0;
  }
}
